/* 
    Created on : 03.05.2015, 20:23:02
    Author     : Fabian Maier
*/

#emojiArea {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size: 15px;
}

#emojiArea:focus {
    border-color: #66ccff;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

#emojiMenu {
    position: absolute;
    z-index: 999;
    width: 180px;
    /*margin-left: -180px;*/
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    /*margin-top: -225px;*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

#emojiMenu > div {
    height: 200px;
    background: #fff;
    width: 200px;
    overflow: auto;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}